/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.burger:hover .line-1 {
	-webkit-transform: rotate(43deg);
	-ms-transform: rotate(43deg);
	transform: rotate(43deg);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

.burger:hover .line-2 {
	-webkit-transform: translate(-40px);
	-ms-transform: translate(-40px);
	transform: translate(-40px);
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

.burger:hover .line-3 {
	-webkit-transform: rotate(-43deg);
	-ms-transform: rotate(-43deg);
	transform: rotate(-43deg);
	-webkit-transform-origin: left;
	-ms-transform-origin: left;
	transform-origin: left;
	-webkit-transition: -webkit-transform .5s;
	transition: -webkit-transform .5s;
	-o-transition: transform .5s;
	transition: transform .5s;
	transition: transform .5s, -webkit-transform .5s;
}

.burger:hover .burger__nav {
	-webkit-transform: translateX(232px);
	-ms-transform: translateX(232px);
	transform: translateX(232px);
	-webkit-transition: -webkit-transform 1s;
	transition: -webkit-transform 1s;
	-o-transition: transform 1s;
	transition: transform 1s;
	transition: transform 1s, -webkit-transform 1s;
}

.item__link {
	position: relative;
	text-shadow: none;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.item__link::before,
.item__link::after {
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
	transition: opacity 0.3s, -webkit-transform 0.3s;
	-o-transition: opacity 0.3s, transform 0.3s;
	transition: opacity 0.3s, transform 0.3s;
	transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}

.item__link::before {
	top: -10px;
	-webkit-transform: translateY(-10px);
	-ms-transform: translateY(-10px);
	transform: translateY(-10px);
}

.item__link::after {
	bottom: -10px;
	-webkit-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
}

.item__link:hover,
.item__link:focus {
	color: #fff;
}

.item__link:hover::before,
.item__link:focus::before,
.item__link:hover::after,
.item__link:focus::after {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
}

.header__logo:hover {
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}


.aerial-view:hover {
	-webkit-filter: brightness(1.5);
	filter: brightness(1.5);
	opacity: 0.9;
}

.header__btn-search:hover {
	-webkit-transform: scale(2);
	-ms-transform: scale(2);
	transform: scale(2);
	-webkit-transition: -webkit-transform .3s;
	transition: -webkit-transform .3s;
	-o-transition: transform .3s;
	transition: transform .3s;
	transition: transform .3s, -webkit-transform .3s
}

.header__btn-search:active {
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.booking__btn-search:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: rgb(44, 238, 5, .2);
	border-radius: 5px;
	-webkit-transition: height .5s;
	-o-transition: height .5s;
	transition: height .5s;
}

.booking__btn-search:hover:before {
	height: 100%;
	-webkit-transition: height .5s;
	-o-transition: height .5s;
	transition: height .5s;
}

.booking__btn-search:hover {
	color: black;
	-webkit-transition: color .5s .20s;
	-o-transition: color .5s .20s;
	transition: color .5s .20s;
}

.booking__btn-search:active {
	-webkit-transform: scale(.95);
	-ms-transform: scale(.95);
	transform: scale(.95);
}